.root{

}

.button{
     -fx-border-radius: 20;
     -fx-background-radius: 20;
     -fx-font-size: 14;
}

.menu-button{
         -fx-border-radius: 20;
         -fx-background-radius: 20;
}
.label{

}

.text-field{
     -fx-border-radius: 15;
     -fx-background-radius: 15;
}
.icon{
     -fx-font-size:25;
}

.nav:hover{
      -fx-background-color: #2969c0;
        -fx-border-right-radius: 50px;
}

