.root{

}

.button{

     -fx-border-radius: 20;
     -fx-background-radius: 20;
     -fx-font-size: 14;
}

.menu-button{

         -fx-border-radius: 20;
         -fx-background-radius: 20;
}

.label-register{

     -fx-effect: dropshadow(three-pass-box, grey , 2, 0, 2, 2);
}

.text-field{
     -fx-border-radius: 15;
     -fx-background-radius: 15;
}
